<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% render 'css-variables' %}

{{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}

    {% render 'meta-tags' %}

    {{ content_for_header }}
  </head>

  <body>
    <a href="#main-content" class="skip-link">Skip to content</a>
    <div id="a11y-announcer" class="sr-only" aria-live="polite" aria-atomic="true"></div>

    {% render 'cart-drawer' %}
    {% render 'search-dropdown' %}

    {% sections 'header-group' %}

    <main id="main-content" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}

    <script src="{{ 'theme.js' | asset_url }}" defer></script>
  </body>
</html>
